.hero {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;
    position: relative;
    
   
    .wrapper {
        max-width: 1024;
        height: 100%;
        width: 50%;
        margin-left: 10%;
        .textContainer {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            

            h2 {
                font-size: 32px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 72px;
            }

            img {
                width: 50px;
            }
             
        }
    }
    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;

        img {
            width: 35rem;
        }

    }
}